@media(max-width: 720px) {
    body {
        /* color: beige; */
    }
}

#welcome-section{
  width:100vh;
  height: 100vh;
  position: fixed;

}

.full {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}
